#bio { clear: both; }
#avatar {
	float: left;
	margin: 1em;
}
#art, header {text-align: center; }
#art img, figure img { width: 100%; max-width: 95vw; max-height: 95vh; object-fit: contain;}
.warn {
	background-color: rgba(255, 60, 0, 0.2);
	border-bottom: 0.125em solid #dc322f;
}
figure {
	text-align: center;
}
html, body {
	background-color: #002b36;
	color: #839496;
	margin: 0;
	padding: 0;
	font-family: sans;
}
a {
	color: #268bd2;
}
h1, h2, h3, h4, h5, h6 { font-family: serif; }
pre { white-space: pre-wrap; }
section h1, section h2 { text-align: center; }
article, section {
	display: inline-table;
	vertical-align: top;
}
article, section, main {
	margin: 1.5rem;
	padding: 0.5rem;
	background-color: #073642;
	border: 2pt solid #657b83;
}
#art { border: none;} 
code {
	display: inline-table;
	padding: 0 0.25em;
	background-color: #222;
	color: #C4C4C4;
	font-family: monospace;
}
table {
	border: 0.1em solid;
	border-collapse: collapse;
}
td, th {
	border: 0.1em solid;
	padding: 0.25em;
}
blockquote {
	border-left: 0.1em solid;
	padding-left: 0.5em;
}
nav, footer {
	background-color: #073642;
//	background-image: linear-gradient(0deg, #db3038, #dc3025);
	color: #586e75;
}
/* navbar */
nav {
	font-size: larger;
	font-weight: bold;
	margin-bottom: 1rem;
}
nav * {
	margin: 0;
	padding: 0;
}
nav a, nav .menu span {
	color: inherit;
	display: inline-block;
	padding: 0.5em;
}
nav .menu span::after { content: "↯"; }
nav ul {
	display: inline-block;
	list-style: none;
}
nav ul li {
	display: inline-table;
	transition: 0.5s;
}
nav li:hover {
	background-color: #dc322f;
	background-image: linear-gradient(0deg, #db3038, #dc3025);
}
nav ul li:hover > ul {display: block;}
nav ul ul {
	background: #900;
	display: none;
	position: absolute;
}
nav ul ul li {display: block;}
nav ul ul li:hover {background: #B00;}
nav ul ul li:hover:active {background: #E00;}
nav ul ul ul {
	left: 100%;
	position: absolute;
	top: 0;
}
nav ul.right { float: right; }
/* footer */
footer {
	margin-top: 1rem;
	padding: 0.5em 0;
	text-align: center;
}
footer a { color: inherit; }
.l-ok      { color: #859900; }
.l-wip     { color: #cb4b16; }
.l-stalled { color: #002b36; color: #839496;}
.l-bad     { color: #dc322f; }
