		<footer>
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="CC-BY-SA" src="/images/cc-by-sa.png" /></a>
			<a href="http://www.anybrowser.org/campaign/" title="http://www.anybrowser.org/campaign/"><img src="/images/anybrowser.png" alt="Anybrowser campaign"/></a>
			<a href="https://flattr.com/submit/auto?user_id=lanodan&amp;url=http://hacktivis.me/" target="_blank"><img src="/images/flattr.png" alt="Flattr" title="Flattr"></a>
			<br>
			<a href="http://moudbpmicyvvmhoh.onion">.onion</a>
			<a href="/privacy%20policy">Privacy Policy</a>
			Thanks to Triskel for the domain name
		</footer>
