		<aside>
			<a href="https://lqdn.fr/"><img src="/images/spport_lqdn_468_fr.gif" alt="Soutien, la quadrature du net"/></a>
			<a href="https://internetdefenseleague.org/"><img src="/images/super_badge.png" alt="Proud Member of The Internet Defense League"/></a>
		</aside>
