<h1><a href="/articles/All%20Communities%20Are%20Broken">All Communities Are Broken</a></h1>
<p>Ceci est une sorte de réponse à <a href="https://blog.imirhil.fr/2017/05/26/bienveillant-safe-mon-cul.html">« Bienveillant et safe ? Mon cul ! »</a> d’aeris@imirhil.fr. Et sans doute une deuxième partie suite à « Bienveillance mon cul » d’OpenPony à <a href="http://passageenseine.fr/programme/">PSES 2017</a>.</p>
<p>Donc, ACAB dans le titre et chier sur la notion de communautée. Voilà, ça c’est fait, maintenant on peut parler de confédération, de personne en tant que personne et non en tant que truc dans un groupe. (Parceque c’est le genre de trucs qui m’emmerdent, d’autant plus que j’ai aussi le même genre de problème groupe-individu au Lycée Expérimental assez fréquement)</p>
<ul>
	<li><cite>witches.town</cite> ne parle pas de bienveillance mais d’<q>endroit accueillant sur Mastodon pour les personnes queers, féministes, anarchistes et compagnie ainsi qu'à leur sympathisant⋅e⋅s</q>
	<li>L’utilisation ici du terme de diffamation est juste complètement n’importe quoi pour moi. (Sinon je serais assez sur que j’en trouverais pleins les médias)
	<li>Dans le thread en question (désolé la flemme de faire de l’archéologie) le CW n’était pas utilisé alors que le texte suffisait pour ne pas être "safe".
	<li>Le coup de mettre BDSM(qui je reconnais est très marginalisé…) mais consentement, désoler mais dans le thread à aucun moment y’a du consentement…
	<li>Je ne vois pas trop d’où sort le « inclusif » pour witches.town, c’est clair dès le début que cette instance ban des personnes n’étant pas bienvenues (et se pose le problème de qui/comment)
</ul>
<p>Sinon un truc que je vois pas mal dans l’article d’aeris@imirhil.fr, la <strong>personne</strong> trans’ dont aeris parle à aucun moment est autre chose que juste trans’. Voilà aussi pourquoi j’ai envoyé chier la notion de groupe (identitaire) dès l’intro. Surtout que je voudrais pas dire mais je ne pense pas connaître de personnes qui aiment bien qu’on les considèrent juste comme trans, geek alias service-après-vente, libriste alias terroriste. (remarquerez que j’ai pas mis d’alias pour trans, y’en à trop et contrairement à geek/libriste cet alias est relativement mortel).</p>
<p>Sinon pour ce qui est de ma non-neutralité de point de vue :</p>
<ul>
	<li>Je connais aeris à la base pour ce qui est de faire du <del>SSL/</del>TLS correct
	<li>J’ai participé au gros bordel sur les CW (et unfollow+mute aeris face à une non-écoute de sa part ou un point de vue fixé); cf. <a href="/articles/Politique%20de%20CW">Politique de CW</a>
	<li>Je suis arrivé·e vers la fin de la grosse shitstorm « aeris — Witches.town / Unixcorn » mais j’ai essayé de comprendre et argumenter un peu (de manière assez posé·e de souvenir)
</ul>
<p>Ah et pour les personnes qui se demandent, j’ai mute/block la plupart des personnes qui étaient dans le thread en question, non pas juste à cause du thread mais de contenu blessant et/ou p0rn répété en public et en ayant déjà grogné sur le sujet. Pour ce qui est de PSES : Je ne pense plus y aller, en tout cas pas sans avoir au moins une personne de confiance qui y serat et dont ça ne dérangera pas de potentiellement m’aider à être bien, vu que y’a apparement pas de safe-space (chose que j’ai découvert·e au <a href="http://poop.leloop.org/">p∞p</a> du <a href="http://leloop.org/">l∞p</a>, sans y être présent·e physiquement).</p>
<p>Bon ensuite, sérieusement aeris. Chouiner à max en mode : Bouuh nan mais je suis safe regardez, vous être que de la merde, et à coté ne pas écouter l’avis des concernées 30 secondes… Franchement ça manque de non-binaritée là… euh pardon, de nuance et de quelque chose de complet. C’est un truc que je n’aime pas, et appparement ça fait partie de la Justice française, de prendre uniquement ce qui appuie nos propos et exprimer uniquement son point de vue et la personne trans’ dont tu parle n’a pas forcément envie d’être forcément out pour pouvoir répondre, <strong>surveille tes privilèges!</strong> (et à peu près tout le monde en à, par example mon père ne m’a pas balancé dehors en sachant que j’allais à la Marche des Fiertés, et c’est pas forcément mauvais, faut juste faire attention).</p>
<p>Pour ce qui est de l’histoire perso, j’en ai pas rien à foutre, mais là moi je/on parle de ce que tu fais, même si ce que tu est à une importance, mais pour moi c’est moindre. (en passant juger sur les fait et non sur l’identitée c’est quelque chose présent dans <a href="http://phrack.org/issues/7/3.html">The Conscience of a Hacker</a> surnommé pour moi à tort Hacker Manifesto, sans non plus que ça parte uniquement sur les faits, cf <q lang="en">This is a court of fact</q> dans <cite>Star Treak: The Next Generation, épisode 1</cite>)</p>
<p><q>Un libriste un balle, un LUG une rafalle</q>. Faudrait savoir qu’un Groupe d’Utilisateur·rice·s Linux(LUG) n’est pas MOGAI-safe par défault, tout comme le reste du monde, en sachant que bon les milieux techniques/scientifique c’est souvent toxique (et remplis de mec, donc presque un espace, pas forcément safe, pour eux). Voir même bien souvent assez malveillant sur les personnes MOGAI. (Et GNU/FSF étant très post-actif sur le sujet de bienveillance envers les personnes MOGAI, et <abbr title="Linux Kernel Mailing List">LKML</abbr> très toxique, de souvenir une personne s’en est baré pour sexisme). Ça ne veut pas dire que tous les LUG sont des endroits se composant à 100 % de personnes toxiques, mais que par example, tout comme les flics (en tant que fonction) sont toxique, les LUGs en général peuvent être/sont souvent toxique. Sauf par example, <a href="http://lereset.org/">Le Reset</a> ou <a href="http://leloop.org/">Le L∞p</a>, hackerspaces qui justement ont la particularitée d’être safe sur ces sujets et donc essayent de changer ceci par rapport aux autres.</p>
<h2>La bienveillance</h2>
<ul>
	<li>C’est souvent ultra subjectif comme définition précise, ma définition vague étant « les entitiées n’ont pas eu de négatif/la somme (émotionelle) finale est positive » mais quand j’entend ce mot ou dérivés je pense d’abord que c’est une connerie à remettre en question</li>
	<li>On ne peut pas se qualifier de bien… (les dieux et déesses grec par example étant tout aussi toxiques/des emmerdeurs·euses que nous et peut-être même pire, à vous de voir les autres histoires/Histoires.)</li>
</ul>
<p>J’espère avoir été compréhensible là dessus, pour moi toute phrase type « Je suis bienveillant·e »/« Nous sommes bienveillant·e·s » ou équivalent <strong>doit sérieusement être remise en question</strong> tant que ce n’est pas quelque chose qui est explicitement exprimé par tou·te·s (les concerné·e·s).<p>
<p>Pour vous dire je ne pense pas être bienveillant·e, y compris avec d’autres personnes où on partage une partie d’identitée/une caractéristique sur le sujet de cette caractéristique. Ça ne veut pas dire que on doit être conscienment non-bienveillant·e, c’est bien d’être bienveillant·e (sans déconner !) et ça doit donc être un objectif.</p>
<h3>Harcèlement Scolaire (auto-TW)</h3>
<p>Si vous voulez un example de communautée/groupe/… qui est pour moi carrément malveillant c’est les établissements scolaires (note : mon safe-space c’était le CDI, en y réfléchissant espace peu masculin-cis-hétéro-valide…, même si ce qui est disponible est pas toujours safe, un safe-space étant utile quand ce qui est autour est toxique). Si vous voulez un example j’ai même pas besoin de raconter(surtout que j’ai un peu un syndrome de l’imposteur·euse), y’a <a href="http://losersetalors.fr/">loser et alors</a></p>
<p>Pourtant dans la loi, si je ne me trompe pas c’est juste totalement illégal et pourtant y’a environ rien de concret de fait, en tout cas en 2013 y’avais <strong>rien</strong>, 2014 une pauvre vidéo. Et on va pas me dire qu’un Ministère est pas capable par example de s’inspirer des interventions de l’association <em>Le MAG Jeunes</em>. Et pourtant j’ai entendu de nombreuses fois des fonctionnaires scolaires dire littéralement qu’illes sont bienveillants, que ça soit elleux-même en individu, en groupe ou pour tout l’établissement.</p>
<p>Je crois que je vais modifier cette citation de <cite>Bruce Schneier</cite>(<q>Security isn’t a product, it’s a process</q>) pour complèter cette partie, décidément la <em>con</em>somation ça apporte pas grand chose…</p>
<blockquote>La bienveillance n’est pas un produit ou une identitée, c’est un processus</blockquote>
