<a href="/articles/Demande%20des%20USA%20de%20mot%20de%20passe%20des%20r%C3%A9seaux%20sociaux"><h1>Demande des USA de mot de passe des réseaux sociaux</h1></a>
<p>En gros : C’est stupide, c’est le pire « je n’ai rien à cacher », et les États dés-Unis veulent faire cette betise. Un mot de passe c’est fait pour être caché, même/surtout aux gouvernements.</p>
<ul>
<li>Est-ce que je vous donne le trousseau de clés privé/publiques ? (Au moins 4096 bytes par compte)
<li>Je ne peut pas, c’est mon doigt qui fait l’indentifiant et une séquence de ces doigts pour le mot de passe
<li>J’ai de la double authentification/authentification avec deux facteurs(2FA)
<li>J’utilise des messagers aériens pour recevoir mes tweets par paquet de 200
<li>Ah, tu veut un mot, tient voilà les premiers mot de mes phrases de passe
<li>Est-ce que je vous donne aussi les comptes où je suis connectée mais où je ne me souviens plus du mot de passe
<li>Il n’y-a pas de mot de passe, mon ordinateur est mon serveur
</ul>
<h2>Autres questions</h2>
<p>Qu’est-ce qu’un réseau social, les communications entre-humains, ou un truc plus spécifique comme Twitter/Facebook et équivalent</p>
<p>Comment peut-on vérifier que l’on à donner tous les comptes qui nous appartiennent, où même un faux compte qui pourrais servir juste pour ça (genre tu donne ton robot _ebook)</p>
