<h1><a href="/articles/ed">ed</a></h1>
<p>You may have noticed if you’re following me on <a href="https://pouet.it/@lanodan_tmp/499933">@lanodan@pouet.it</a> that I’m posting quite a bit of honest post about the goodness of ed, and let me say why, sometimes I prefer ed</p>
<ul>
	<li>It’s a too much simple and so powerfull ed-tor (pun intended)
	<li>It’s blazzingly fast (as fast as your terminal actually), which is something I need as I use slow RS232 ones or shit connections(hotspots :3) with SSH
	<li>If you know bits of vi or sed, you can basically use ed
	<li>It’s accessible to everyone, even blind people, without modifications whatsoever (thanks to line-oriented editing)
	<li>You can screen/copy/capture/… the whole session, no more TUI madness
	<li>Make patches/sessions that can actually be pasted directly in ed (even if I think I’ll stick to the well-known/larryWall one when sharing), try to paste diffs in other editors. :)
	<li>You have what made grep(1) in your editor. (<code>g/<code>regex<code/p</code>)
	<li>Remember how your current $EDITOR is hard to learn? POSIX defines only 29 commands, and there is about half that can be forgotten (compared to like ~1% for vim)
	<li>ED IS THE STANDARD EDITOR (actually vi is too, but only in latest(2008) POSIX)
</ul>
<p>Note: From ed, with love; Also, I’m not trolling here, appart from the "standard editor" part</p>
