<a href="/articles/Fighting%20Harrasement"><h1>Fighting Harrassement</h1></a>
<p>After reading <a href="http://mrsroots.fr/2016/11/25/lillusion-du-signalement-ou-la-gangraine-des-reseaux-sociaux">this post</a>(in french). I noticed that theses new techniques are basically the same as for fighting spam years ago, and there the definition of spam by [Pirate Bay Member] makes even more sense. Basically spam got defined by “unwanted messages”, which is true for most commercial-messages and harassement.</p>
<p>And so I think we can actually reuse anti-spam software/code to make it more diverse and able to block not only commercial/weird messages but <strong>all</strong> unwanted messages.</p>
<p>I’ll code something I can use for most of my messaging software as I do also receive unwanted messages not flagged as traditionnal spam.</p>
Type of programs and example that can be useful for inspiration:
<ul>
	<li>Spam-filtering: SpamAssasin</li>
	<li>Spam-slowing: spamd</li>
</ul>
Requirements for the code:
<ul>
	<li>Highly portable(OS and existing clients)</li>
	<li>Well documented/commented</li>
	<li>Easy to read (≠obfuscation)</li>
	<li>Doesn’t censor / Filter by final score</li>
	<li>Verbose mode</li>
</ul>
<p>Also I think accounts like <a href="http://twitter.com/SaferBlueBird">@SaferBlueBird</a> are mostly bad because it’s managed by few people and actually censors things they doesn’t want to, also it’s totalitarist/oligarchist, only one/few people are needed to start the storm of reports. I follow it because at the moment it’s the best solution we have…</p>
<p>Warning: It’s a concept, useable software might not exist at the end, feel free to contact me if you want to participate in it (even if you don’t know how to code, everyone can be useful)</p>
