<a href="/articles/Mozilla%20is%20Broken"><h1>Mozilla is Broken</h1></a>
<p>I’m quitting Mozilla, not that I have been really been into the community(mostly because they want me to do one thing, apply this to programs, not humans) but I was using and enjoying it for a long time(like since 2008). Also in about 2014 I switched from Thunderbird to mutt because I wanted something simple which does GPG, hard time to switch but I love it. And now it seems like Mozilla is killing Firefox for years :</p>
<ul>
	<li>Version numbering doesn’t mean anything(patches, big change, small change, security update ?)</li>
	<li>Have a very bad privacy and security (look at the differences between tor browser and Firefox)</li>
	<li>No more choice for the user<ul>
		<li>Old one : JavaScript can’t be configured</li>
		<li>OpenH264(non-free) is installed by default</li>
		<li>adb (android, non-free) is installed by default (Dev Edition ?)</li>
		<li>Pocket(non-free service) is installed, displayed, non-configurable at compile time → <a href="https://blog.mozilla.org/blog/2017/02/27/mozilla-acquires-pocket/">And now is integrated in it</a></li>
		<li>DRM (adobe EME) is active by default (can be disabled)</li>
		<li>Firefox Hello is installed, displayed, non-configurable at compile time</li>
		<li>Other New web stuff(WebRTC, HTML5 audio/video, …) have to be disabled/configured into about:config which is a total mess with no help</li>
		<li>add-ons have to be signed and only by Mozilla, non-configurable at compile time</li>
		<li>tracks you even if you disable all tracking in about:preferences</li>
		<li>Geo location can only be totally disabled with about:config</li>
		<li>Can’t choose a fallback(also weirdly called “Legacy”) encoding(old profile had it, about:preferences#content → Advanced(or Fonts, whatever) is shit, about:config is a mess)</li>
	</ul></li>
	<li>No Unicode by default even if my Locale is en_US.UTF-8 and configured to "Default for Current Locale"</li>
	<li>more and more slowness and crashes and <strong>new profile doesn’t help</strong></li>
</ul>
<p>And there is potentially way more shit (just look and the old but still open tickets)</li>
<p>Quick and Dirty solution while I make my own browser while keeping a good privacy : Tor Browser(which use ESR) with <a href="/browser-setup">add-ons</a> for more privacy/security</p>
<p>BTW if <strong>everyone</strong> have to use a LTS/ESR/real-stable version of a browser even if they are actual developers… well why is the Developer Edition based on Nightly ? For badly supported things like H.264 ? gstreamer works(can be an interface to ffmpeg). For brand new stuff ? Well most web-smiths have to support old browsers like IE6 or IE7. For marketing because we are the browser with tons of features ? Well I think so. I think Netscape did the same mistake in the browser-war, why change things?</p>

On social media : <a href="https://friendica.eu/display/5a727f9b125643c641caf1e584230451">Fediverse(Friendica, Diaspora, GnuSocial, …)</a>, <a href="https://twitter.com/lanodan/status/664576292805849088">Twitter</a>
