<h1><a href="/articles/Param%C3%A9trage%20de%20mon%20serveur%20git">Paramétrage de mon serveur git</a></h1>
<p>Après avoir eu plusieurs problèmes avec gitlab.com (impossibilitée de <code>git push</code> sur mon propre dépot, par example). J’ai décidé de faire un truc simple, inspiré de git.linkmauve.fr. J’ai mis tout mes dépots git dans le <code>/git</code>
<h2>Démarrage avec juste nginx et ssh</h2>
<p>Celui-là est trivial quand on connais le truc, suffit de mettre <code>git update-server-info</code> dans <code>hooks/post-update</code> du dépot git (qui doit être un --bare)</p>
<h2>Ajout de git-daemon</h2>
<P>Celui-là fût encore plus simple, j’ai juste eu à dire où sont les dépots git</p>
<h2>Une meilleure interface</h2>
<p>En cherchant des alternatives au GNU je suis tombé sur <a href="http://git.2f30.org/stagit/">stagit</a>, un générateur static pour git (je n’aime pas les CGI, surtout quand ça peut avoir un accès sur mon dépot git), pour l’utiliser j’ai rajouté ces lines au post-update-hook :</p>
<pre><code>repo=$(pwd)
cd "$(pwd | sed s/.git$//)" &amp;&amp; stagit -c "$repo.cache" "$repo"
cd /git &amp;&amp; stagit-index *.git &gt; /git/index.html</code></pre></p>
<h2>Déployement vers blog</h2>
<p>Celui-là sort une erreur(probablement parceque GIT_INDEX_FILE est pas censé être vide) mais ça fonctionne :P</p>
<code>GIT_INDEX_FILE='' git --work-tree=/srv/web/hacktivis.me --git-dir=/git/blog.git checkout -f</code>
<h2>Garbage Collector</h2>
<p>Ce n’est pas comme si mes dépots étaient gros, git est censé faire ça tout-seul mais apparement non, donc je fait un <code>git gc</code> à chaque fois, ce qui n’est pas très optimisé.</p>
<h2>post-update hook final</h2>
<pre><code>
#!/bin/sh
repo=$(pwd)
update_f=' * Updating %s…'
is_ok(){ echo ' [OK]'; }

printf "$update_f" 'Garbage Collector'
git gc &amp;&amp; is_ok

printf "$update_f" info
git update-server-info &amp;&amp; is_ok

printf "$update_f" stagit
cd "$(pwd | sed s/.git$//)" &amp;&amp; stagit -c "$repo.cache" "$repo" &amp;&amp; is_ok

printf "$update_f" stagit-index
cd /git &amp;&amp; stagit-index *.git &gt; /git/index.html &amp;&amp; is_ok

# Erreurs mais fonctionnel
grep blog &lt;&lt;&lt;$repo &amp;&amp; printf "$update_f" blog &amp;&amp; GIT_INDEX_FILE='' git --work-tree=/srv/web/hacktivis.me --git-dir=/git/blog.git checkout -f &amp;&amp; is_ok
</code></pre>
