<h1><a href="/articles/Politique%20de%20CW">Politique de CW</a></h1>
<p>Donc pour que les choses soient plus claires et que je n’ai pas à me répéter trop souvent (ça fait genre un mois que y’a ça et que ça s’enflamme de temps en temps, pourquoi pas mais c’est chiant à la longue)</p>
<p>Mes avis sur les CWs sont assez fixé et depuis pas mal de temps (je les utilisais déjà sur twitter, IRC, …), c’est à vous de vous faire votre propre avis, je ne partage que mes avis, et on peut en débattre (pas se taper dessus sinon je pense que je bloque direct).</p>
<p>Je suis pour les CWs au maximum, c’est-à-dire qu’on relit son message (de toute façon ça évite au passage de faire des fautes et d’être mal compris·e) et on dit au préalable ce qui pourrait être perçu négativement par les personnes qui vont vous lire/écouter/…. Et non y’a pas besoin de boule de cristal pour ça, au pire tu ne penses pas/ne connais pas une oppression tu auras peut-être des réponses ou des messages dans ta timeline à propos justement de cette oppression.</p>
<p>Le CW n’est pas de la censure mais un avertissement, une censure c’est quand on ne peut pas poster quelque chose, au contraire un CW peut permettre de poster des choses potentiellement polémiques en avertissant les gens, ce qui fait des réactions négatives moins fortes voire pas de réactions. Mais oui, en gros ça veut dire que tu dois faire attention à ce que tu dis et surtout comment tu le dis, mais franchement ça on le voit plus ou moins partout. Si tu ne vois pas trop en quoi quand quelqu’un·e te dit : Nope là je ne veux pas t’écouter/te laisser dire ça, ce n’est pas une censure, juste la personne qui te montre la porte, merci XKCD pour le message. ☺</p>
<figure>
	<img src="/images/xkcd_free_speech.png" alt="planche de XKCD sur la liberté d’expression, résumée à la phrase précédente"/>
	<figcaption>I can't remember where I heard this, but someone once said that defending a position by citing free speech is sort of the ultimate concession; you're saying that the most compelling thing you can say for your position is that it's not literally illegal to express.<br>
Je ne me souvient plus quand j’ai entendu ça, mais une personne a dit une fois que défendre sa position en citant la liberté d’expression est en quelque sorte la dernière chose; c’est dire que le plus gros argument que vous pouvez dire est que ce n’est pas littéralement illégal à exprimer.</figcaption>
</figure>
<p>La plupart des formes prises pour… “débattre” ne me plaisent pas du tout, au début du mois d’avril y’a eu une grosse engueulade bien toxique sur ce sujet, franchement même avec les inits standards vs systemd y’avais pas autant de comportement toxique et avec tellement de non-écoute des personnes qui s’expriment sur des oppressions.</p>
<p>La plupart des formes prises pour… “militer” ne me plaisent pas vraiment, y’a eu l’idée de faire une petite liste à titre d’example, assez utile pour dire à quoi servent les CW, sauf que j’ai l’impression que des personnes sont parties en mode « vas-y on liste tout ce qu’on voit comme potentiel CW », sauf que je pense pas que des gens vont lire ça et se dire que les CW c’est utile, plus se dire que c’est chiant et donc sans doute quelque chose de franchement négatif derrière. Et en vrai ce qu’on a d’encore pire c’est les gens qui grognent dessus en adoptant une position complètement anti-CW.</p>
<p>Ah et j’en profite pour vous re-partager : <a href="https://uneheuredepeine.blogspot.fr/2012/08/lhumour-est-une-chose-trop-serieuse.html">l’humour est une chose trop sérieuse…</a></p>
