			<a href="/articles/Pourquoi je n’utiliserais pas ghostery"><h1>Pourquoi je n’utiliserais pas ghostery</h1></a>
			<p>Ghostery est une extension connue pour son anti-traçage facile, malheuresement comme beaucoup de solutions de facilité, elle n’est pas libre, un peu idiot pour un extension qui revendique que la transparence + sécurité = contrôle. De son site qui utilise des formulaire au lieu d’utiliser une balise <code>a</code>, surement pour limiter le click droit. Voici donc les liens (bien que je ne recommande pas de l’utiliser vous verrez pourquoi plus tard) : <a href="https://addons.mozilla.org/firefox/downloads/latest/ghostery">Firefox</a>, <a href="https://chrome.google.com/webstore/detail/mlomiejdfkolichcflejclcbmpeaniij">Chrome</a>, <a href="https://addons.opera.com/addons/extensions/details/ghostery/">Opera</a>, <a href="https://www.ghostery.com/safari/Ghostery.safariextz">Safari</a>, <a href="https://www.ghostery.com/ie/ghostery-ie.exe">Internet Explorer</a>(Oui, un .exe), Android(<a href="https://play.google.com/store/apps/details?id=com.ghostery.android.ghostery">Google Play</a>,<a href="https://www.amazon.com/gp/product/B00Q703HRK">Amazon Apps</a>), <a href="https://itunes.apple.com/us/app/ghostery/id472789016">iOS</a>, <a href="https://addons.mozilla.org/android/downloads/latest/ghostery">Firefox OS</a>.</p>
			<p>Et si j’inspectait ces paquets ? Vut que y’a presque toutes les plateformes je vais faire seulement <a href="#extension-firefox">Firefox</a>.</p>
			<h2 id="entension-firefox">Extension firefox</h2>
			<code><pre>$ wget https://addons.mozilla.org/firefox/downloads/latest/ghostery
$ mv ghostery ghostery-5.4.3-an+sm+fx.xpi # Je le renomme pour le nom du fichier chez mozilla
$ unar ghostery-5.4.3-an+sm+fx.xpi # Décompression du paquet
$ cd ghostery-5.4.3-an+sm+fx/resources/ghostery/data # Allons voir les données
$ vim databases/click2play.json # Tient un gros truc de copyright
{"copyright":"This proprietary database is protected by copyright, and is owned exclusively by Ghostery and all rights to it are expressly reserved. If you are interested in using this database for any purpose outside of the Ghostery application, contact Ghostery at info@ghostery.com. Ghostery may grant permission to use our proprietary database as determined in our sole discretion. Unauthorized use of this proprietary database, or any portion of it, may result in legal proceedings against you, seeking monetary damages and an injunction against you, including the payment of legal fees and costs."[…]</pre></code>
			<p>Ça fait plaisir, je préfère encore ®M$(Richard Matthew Stallman, le fondateur de la Free Software Foundation et du GNU is Not Unix) et ses CC-*-ND qui empeche la modification de ses travaux. De toute façon ce fichier ne contient pas grand chose à par du code minable pour twitter/facebook/g+/pinterest/disqus/…. J’espère ne pas découvrir que Goshtery se base massivement dessus pour éviter le traçage des réseaux sociaux, car pour l’instant c’est principalement des éléments que le navigateur a déjà chargé que ghostery vous cache.</p>
			<p>Tient y’a un README.md</p>
			<code><pre>
Data Resources
==============

Packages may optionally contain a directory called data into which arbitrary files may be placed, such as images or text files.

The URL for these resources may be reached using the self module.
</pre></code>
			<p>Okay, c’est très utile… je sais faire un ls -R</p>
			<p>Bon au tour de js/tracker.js bon bah pas de surprise <a href="http://www.ghostery.com/en/eula">droite d’auteur</a>, tient si on aime pas ceci, illes nous dise carrément de ne pas utiliser cette extension… “You may not disassemble or reverse engineer Ghostery for any purpose, other than for reviewing the code for personal review, and at all times are bound by the terms of this EULA.” HAHA FUCK YOU this is a personal web log ;) Uh fucking law. I lost the other "borderline" (un)?-legit part.</p>
<h2>Libre Alternatives</h2>
<ul>
	<li><a href="http://www.eff.org/privacybadger">Privacy Badger</a></li>
	<li><a href="http://github.com/gorhill/uBlock">uBlock Origin</a> et pour les utilisateurices avancé·e·s vous pouvvez rajouter voire remplacer ceci avec <a href="http://github.com/gorhill/uMatrix">uMatrix</a> (même auteur)</li>
</ul>
