<p class="warn">Brouillon/en-cours de production</p>
<p><span class="warn">Attention :</span> Je fait brûler du <em>Bullshit</em>, cela peut aussi contenir de la mauvaise fois, du troll, …</p>
<p>Ma définiton d’une politique d’utilisation des données, aussi appelée politique de confidentialitée appelée “privacy policy”(litt. politique de vie privée) en anglais est une déclaration des données utilisée, recueillies et de quelle manière elles sont utilisées.</p>
<p>Pour faire simple, je dirait de ne pas passer par change.org, des tas de solutions sont possibles, une pétition pouvant se résumer à un texte et un formulaire à la fin, un·e débutante en programmation web devrait être capable de le faire. Sinon vous pouvez détourner l’espace pour les commentaires et prendre quelque chose type blog, les réseaux sociaux, … Je voudrais pas rapeller que une pétition est à la base un texte et ensuite des feuilles ou chacun·e y met sa signature et non aller voir une organisation comme vous le faites en utilisant change.org, avaaz et ses confrères.</p>
<p>Mes commentaires/rajouts sont <span class="comment">comme-ceci</span> (Je m’excuse pour les mal-voyant·e, si vous avez une meilleure idée n’hésitez pas à la proposer)</p>
<blockquote>
	<h1>Politique d’utilisation des données</h1>
	<p>Dernière mise à jour : 12 janvier 2015</p>
	<p>La mission de Change.org est de donner à chacun, partout dans le monde, le pouvoir de créer le changement qu'il souhaite voir. La meilleure façon de réaliser cette mission est d’offrir une plateforme numérique au service du bien commun.</p>
	<p>Notre Politique d’utilisation des données explique la façon dont nous obtenons et utilisons les informations qui vous concernent, les tiers avec lesquelles nous les partageons et la manière dont vous pouvez contrôler vos paramètres de confidentialité. Ces informations nous permettent de développer la technologie pour vous présenter des campagnes susceptibles de vous intéresser.</p>
	<ol>
		<li><a href="#LesInformationsQueNousRecueillons">Les informations que nous recueillons</a></li>
		<li><a href="#LesUtilisationsPossibleDesInformations">Les utilisations possible des informations</a></li>
		<li><a href="#LePartageDeVosInformationsAvecDesTiers">Le partage de vos informations avec des tiers</a></li>
		<li><a href="#VosChoix">Vos Choix</a></li>
		<li><a href="#ConnaîtreEtSupprimerLesInformationsVousConcernant">Connaître et supprimer les informations vous concernant</a></li>
		<li><a href="#RétentionEtSécuritéDesDonnées">Rétention et sécurité des données</a></li>
		<li><a href="#TransfertsTransfrontaliers">Transferts transfrontaliers</a></li>
		<li><a href="#NousContacter">Nous contacter</a></li>
	</ol>
	<ol>
		<li><h2>Les informations que nous recueillons</h2></li>
		<p>Pour offrir nos services et vous présenter du contenu personnalisé, nous avons besoins de recueillir quelques informations sur vous et sur vos intérêts. Voici les informations que Change.org recueille et comment nous procédons.</p>
		<p class="comment">Comme quoi quand c’est gratuit c’est malheuresement souvent vous le produit…</p>
		<ol>
			<li>Ce que nous recueillons</li>
			<p>Lorsque vous signez ou créez une pétition sur notre plateforme, un compte est créé pour vous. Toutes vos activités de campagne sont dès lors liées à ce compte. Par « campagne », nous entendons les pétitions, l’ensemble des activités que vous effectuez pour promouvoir vos pétitions par le biais de notre plateforme ou via des sites et des services tiers, et toute autre activité sur notre plateforme.</p>
			<p class="comment">Pas mal le fait qu’il y ait un compte, je crois que Campgane devrait avoir une majuscule car mot définit.</p>
			<p>Quand vous utilisez notre plateforme, nous sommes susceptibles de recueillir et/ou de recevoir des informations vous concernant qui révèlent votre identité ou sont directement liées à votre identité. Ces informations sont :</p>
			<ul>
				<li>votre nom <span class="comment">et prénom<span></li>
				<li>votre adresse postale</li>
				<li>votre numéro de téléphone</li>
				<span class="comment">Je pense que la niveau dose d’informations ça devrait suffire !</span>
				<li>votre adresse e-mail<span class="comment">anglicisme</span> ou <u>vos autres données d’authentification si vous utilisez un appareil mobile</u><span class="comment">Très ambigüe, ça peut concerner le service change.org comme n’importe quel autre, de toute façon si vous êtes h·ac·k·tiviste → très voire pas de mobile</span>"</li>
				<li>la photo de votre profil</li>
				<li>les autres informations que vous soumettez volontairement (par ex., des photos) <span class="comment">La sécuritée étant tellement pourrie sur un navigateur que des précisions (par ex. volontariat) serait pas mal</span></li>
				<li>le numéro exclusif d’identification de votre appareil mobile <span class="comment">Bon bah je refuse, tout ce qui est IMEI, numéro de série, … est <strong>privé</strong>, ah et un ordinateur portable… c’est mobile techniquement, non ?</span> si vous accédez à nos services par le biais d’une application mobile</li>
				<li>votre numéro d’identification sur les médias sociaux et les informations que vous partagez avec nous par le biais de votre compte de média social <span class="comment">Bon bah nous sommes des matricules</span></li>
				<li>vos activités spécifiques sur la plateforme Change.org., par ex., les pétitions que vous avez lancées ou signées, les pétitions parrainées de nos annonceurs que vous avez signées, ou les campagnes auxquelles vous avez participé ou que vous avez promues. <span class="comment">Visiblement la notion de tout décrire n’est pas comprise</span></li>
			</ul>
			<p>Et potentiellement :</p>
			<ul>
				<li>es informations dérivées des sujets qui vous intéressent en fonction de vos activités sur la plateforme (par ex., la protection des animaux, ou de l’environnement)</li>
				<li>les informations vous concernant qui sont publiques ou qui sont incluses dans des bases de données publiques, telles que les API de données civiques que nous utilisons (par ex., aux Etats-Unis nous pouvons associer les citoyens avec les élus qui les représentent à tous les niveaux de gouvernement)</li>
				<li>les informations vous concernant que nous obtenons auprès de fournisseurs de données tiers. <span class="comment">Ah, même pas d’example…</span> Ces fournisseurs nous garantissent que vous ayez consenti au recueillement et au partage de vos données. Nous ne recueillons pas activement de données publiques sensibles telles que les données médicales. <span class="comment">Donc toutes les autres si ?</a> En outre, nous ne recueillons que les informations que nous avons le droit de recueillir selon la législation du pays de nos utilisateurs.</li>
			</ul>
			<p>Nous recueillons également des informations qui ne révèlent pas votre identité ou qui ne sont pas directement liées à vous <span class="comment">Bullshit méta-donnée</span>, telles que :</p>
			<ul>
				<li>les informations relatives à votre navigateur et à votre appareil <span class="comment">Bonjour le <a href="">panopticlic</a> sans consentement !</span></li>
				<li>les informations recueillies par le biais de cookies, de pixels invisibles ou d’autres technologies <span class="comment">En gros, on vous trace et on vous en explique juste une partie</a></li>
				<li>les informations que vous fournissez d’ordre démographique ou ne permettant pas l’identification (par exemple, un code postal ou une région géographique) <span class="comment">Les bonnes vielles statistiques « anonynomes »</span></li>
			</ul>
			<li>Comment recueillons-nous les informations ?</li>
			<p class="comment">Ah… vous allez enfin parler technique ? ×D</p>
			<ul>
				<li>Lorsque vous vous inscrivez à la plateforme Change.org, il vous est demandé de créer un profil d’utilisateur qui inclut des informations telles que votre nom d’utilisateur, votre ville, et votre pays. Vous pouvez décider de télécharger <span class="comment">*téléverser</span> des photos et d’ajouter d’autres informations.</li>
				<li>Une fois que vous avez créé votre compte, vos activités sur Change.org (par exemple, lorsque vous signez une pétition, créez une pétition, partagez la pétition de quelqu’un d’autre<span class="comment">Voilà pourquoi je geule souvent contre les boutons de partage dans le site</span>, acceptez d’être contacté par un annonceur ou déclinez une campagne parrainée) sont enregistrées et associées à votre compte.</li>
				<li>Lorsque vous téléchargerez<span class="comment">*téléverserez</span> et utilisez nos applications actuelles ou futures, nous recueillions <u>l’identifiant exclusif de votre appareil et toutes les informations relatives à votre compte et à votre activité seront reliées à cet identifiant exclusif.</u><span class="comment">Bon bah le traçage peut être non-anonyme ?</span> Par ailleurs, les donnés sur l’utilisation de l’application, telles que <strong>la date et l’heure</strong> auxquelles l’application de votre appareil a accédé à <strong>nos serveurs</strong> et le type d’informations et de fichiers téléchargés sur l’application, <u>pourraient</u> être enregistrées et être associées à votre compte.</li>
				<li>Lorsque vous utilisez un site Internet qui permet l’affichage de contenus sur Change.org par le biais de notre Interface de programmation d’applications (« API »), <strong>vos activités sont enregistrées</strong> comme si elles se déroulaient directement sur notre site et sur nos applications./li></li>
				<li>Nous sommes également susceptibles de recueillir des informations par le biais de vos activités hors ligne, par exemple, lorsque vous répondez à des sondages d’utilisateurs ou lorsque vous nous fournissez des <strong>informations dans le cadre d’une assistance téléphonique</strong>.</li>
				<li>Nous pouvons aussi obtenir des informations vous concernant à partir d’informations publiques, de bases de données publiques et auprès de fournisseurs tiers, tel que décrit ci-dessus.</li>
				<li>Nous pouvons obtenir des informations par le biais de vos comptes de médias sociaux qui sont connectés à votre compte Change.org. Si vous vous connectez à votre compte Change.org par le biais de Facebook, <strong>nous vous demanderons l’autorisation d’accéder à certaines informations relatives à votre compte Facebook, y compris vos acticités et vos amis Facebook.</strong> Les services de médias sociaux permettent aux applications d’accéder à leurs informations, telles que les listes d’amis, par le biais de leurs API. Les informations que nous recevons sont celles que vous ou votre service de media social acceptez de nous donner. <span class="comment">En sachant que de base facebook aime vendre ses informations</span></li>
				<li>informations relatives à votre navigateur et à votre appareil : Certaines informations sont recueillies par la plupart des navigateurs ou automatiquement par le biais de votre appareil, par exemple, <u>l’adresse du Contrôle d’accès au support (MAC)</u><span>Je crois que on a le nouveau pare-feu OpenOffice</span>, le type d’ordinateur (Windows ou <u>Macintosh</u><span class="comment">Le Macintosh n’a pas internet, c’est le vieux cube étiré de Apple, bon sinon Linux et ses copains rien à foutre…</span>), la résolution d’écran, le nom et la version du système d’exploitation, <u>le fabricant et le modèle de l’appareil</u><span class="comment">Comment cette info peut-elle fuitée ? Ah, oui, micromou</span>, la langue, le type et la version du navigateur Internet<span class="comment"><strong>web merde !</strong> Ah et, le seul navigateur internet c’est netcat/nmap/telnet/… où à la limite Opera et Seamonkey (Microsoft Internet Explorer fait quedalle en internet)</span>, et le nom et la version de la plateforme Change.org que vous utilisez.</li>
				<li>Cookies et suivi en ligne : Nous-mêmes, nos prestataires de service et les réseaux publicitaires qui nous aident à vous présenter des pétitions parrainées pertinentes sommes susceptibles d’utiliser des cookies, des pixels invisibles (<u>aussi appelés balises Web ou GIF invisibles</u><span class="comment">Bullshit</span>) <strong>et d’autres technologies similaires</strong> pour mesurer et <strong>suivre les activités générales des utilisateurs sur Change.org et d’autres sites Internet tiers.</strong> <u>Comme d’autres sites Internet</u><span class="comment">Web encore une fois et moutonisme</span>, <u>Change.org ne fonctionnera pas correctement si les cookies sont désactivés.</u> Veuillez prendre connaissance de notre Politique de cookies pour plus d’informations.</li>
				<li>Prestataires d’analyses indépendants : Nous avons recours à des services d’analyse <u>indépendants comme Google Analytics fourni par Google Inc. (« Google »)</u><span class="comment">Indépendant… <strong>google ‽</strong></span> et le service Mixpanel fourni par Mixpanel, Inc. (« Mixpanel »). Ces services d’analyse utilisent les cookies et des technologies similaires pour <strong>analyser comment les gens utilisent</strong> nos services et compiler des rapports statistiques. Ces services peuvent également recueillir des informations sur l’utilisation d’autres sites Internet par nos utilisateurs. Pour plus d’informations sur vos choix, veuillez consulter la section intitulée <a href="https://www.change.org/fr/nous-conna%C3%AEtre/confidentialit%C3%A9#4">« Vos options de confidentialité »</a>(attention traçage) ci-dessous.</li>
				<li>Adresse IP : Votre « adresse IP » est le numéro qui est automatiquement attribué <u>à l’ordinateur</u><span class="comment">au routeur, sauf IPv6 mais vous n’en faites pas</span> que vous utilisez par votre fournisseur d’accès à Internet (FAI). Une adresse IP<span class="comment">v4 publique</span> <u>peut être</u> <span class="comment">en permanence pour une durée de un an, sinon illégalitée pour vos serveurs français</span> identifiée et saisie automatiquement sur nos registres de serveur web chaque fois que vous utilisez notre plateforme et nos services, de même que l’heure de votre visite et les pages que vous consultez.</li>
			</ul>
			<p>Dans certains cas, nous combinons les informations qui ne permettent pas de vous identifier à des informations qui permettent de vous identifier (par ex., votre nom peut être associé à votre emplacement géographique ou aux informations relatives à vos activités sur notre plateforme). Dans ces cas-là, nous traiterons les informations ainsi combinées comme des informations d’identification et elles seront protégées en conséquence.<span class="comment">Le parefeu OpenOffice via un Wifi sécurisé dans un darknet(internet crypté seulont B. Cazeneuve) ? ᕕ(ᐛ)ᕗ</span></p>
	</ol>
</blockquote>
