<p>Je recommande de lire ceci avant : <a href="http://apr1.org/DN">J'ai mal à ma republique-numerique.fr</a></p>
<p>À la base je peut juste voir et voter sur le <a href="https://www.republique-numerique.fr/consultations/projet-de-loi-numerique/consultation/consultation/opinions/section-3-loyaute-des-plateformes/donner-la-priorite-aux-logiciels-libres-et-aux-formats-ouverts-dans-le-service-public-national-et-local">Projet de loi pour une République numérique : Donner la prioritée aux logiciels et aux formats ouverts dans le service public national et local</a> de l’April.</p>
<p>Au moins 3 heures après avoir envoyé mon inscription je recoit enfin le courriel de confirmation. C’est le plus long que j’ai eu, généralement c’est presque instantanée, au maximum 15~30 minutes. C’est pour éviter/décourager les personnes devant aller sur un point d’accès limitée(Wifi public, cyber-café, médiathèque) ?</p>
<p>Voici le courriel(version texte brut) en ayant retiré les codes que je juge personnel :</p>
<pre>
Connectez-vous pour contribuer.
Voir cet email dans un navigateur (http://us11.campaign-archive1.com/?u=[code]&id=[code]&e=[code])
** Votre compte est activé
------------------------------------------------------------

Madame, Monsieur,
Nous avons été informés que des utilisateurs des adresses électroniques de certains domaines (ex. : orange.fr, wanadoo.fr, free.fr) ne
reçoivent pas les emails envoyés par nos serveurs.
Après vérification, nous avons constaté que êtes dans ce cas et que vous n'avez pas reçu l'email qui vous permet d'activer votre compte
sur le site République Numérique
(http://cap-collectif.us11.list-manage.com/track/click?u=[code]&id=[code]&e=[code]) .
Nous avons donc activé votre compte manuellement. Vous pouvez à présent vous connecter avec votre adresse électronique et le mot de
passe que vous avez défini lors de votre inscription.
Nous vous souhaitons une bonne participation.
Se connecter (http://cap-collectif.us11.list-manage.com/track/click?u=[code]&id=[code]&e=[code])

============================================================
** (http://cap-collectif.us11.list-manage.com/track/click?u=[code]&id=[code]&e=[code])
** Twitter (http://cap-collectif.us11.list-manage.com/track/click?u=[code]&id=21576e96cc&e=[code])
** (http://cap-collectif.us11.list-manage.com/track/click?u=[code]&id=[code]&e=[code])
** Facebook (http://cap-collectif.us11.list-manage2.com/track/click?u=[code]&id=[code]&e=[code])
** (http://cap-collectif.us11.list-manage1.com/track/click?u=[code]&id=[code]&e=[code])
** Google Plus (http://cap-collectif.us11.list-manage.com/track/click?u=[code]&id=[code]&e=[code])
** (http://cap-collectif.us11.list-manage1.com/track/click?u=[code]&id=[code]&e=[code])
** Plateforme de consultation
(http://cap-collectif.us11.list-manage.com/track/click?u=[code]&id=[code]&e=[code])
 Vous recevez cet email car vous vous êtes inscrit à la consultation République Numérique et vous n'avez pas reçu d'email de validation
 pour la création de votre compte.
 Envie de changer la façon dont vous recevez les e-mails de l'assistance technique ?
 Vous pouvez ** mettre à jour vos préférences
 (http://cap-collectif.us11.list-manage.com/profile?u=[code]&id=[code]&e=[code])
 ou ** vous désinscrire de cette liste
 (http://cap-collectif.us11.list-manage.com/unsubscribe?u=[code]&id=[code]&e=[code]&c=[code])
 .
 Message rédigé par Cap Collectif
  Email Marketing Powered by MailChimp
  http://www.mailchimp.com/monkey-rewards/?utm_source=freemium_newsletter&utm_medium=email&utm_campaign=monkey_rewards&aid=[code]&afl=1
</pre>
<p>Donc au lieu d’utiliser des logiciels libres (et d’usage neutre pour le gouvernement) <a href="https://www.sympa.org/">sympa</a> qui est maintenu(depuis 2011) utilisé et hébergé par <a href="https://www.renater.fr/?lang=fr">RENATER</a>, ou encore <a href="//list.org/">GNU Mailman</a>. <br />On se retrouve avec un logiciel de marketing…</p>
<p>Apparement le publipostage n’existe pas (mon addresse de courriel ne souffre pas de censure) et utilisent une organisation extérieure(MailChimp) qui fait tout passer par ses propres liens(list-manage.com) avec sans doute des traceurs(les [code])</p>
<p>Et encore c’est que le début car je n’arrive pas à accéder aux propositions, votes, modifications, arguments, … avec mes préférences navigateur(ça donne envie de faire des la sécuritée…) même en désactivant un maximum, donc profil firefox sans protections, merde au consentement ! Ensuite quelques problèmes avec la connexion que j’ai (FreeWifi_secure : débit entre 64K et 1.5M avec des coupures dues à android, connexion moyenne~basse) donc on doit avoir une connexion stable(ville ou proche), avec un bon débit(avoir sa propre connexion), ce n’est pas égalitaire !</p>
<p>De plus l’affichage des modifications apportées est une horreur. C’est totalement illisible dès qu’il y a une modifications de syntaxe/formulation on a facilement la moitiée des mots en rouge, une partie en vert et le reste en gris.</p>
<p>Un simple wiki avec quelques modifications pour le vote(je crois que mediawiki et dokuwiki ont un greffon pour) aurait largement put éviter ou diminuer tous les problèmes que j’ai recontré. Et en plus les wikis sont très connus pour leur démocratie, liberté et égalité. Au lieu de ça on se retrouve avec :
<ul>
	<li>Un irrespect de la vie privée (la CNIL serait vivante et non survivante, elle aurait sûrement geulée)</li>
	<li>Un formulaire d’inscription foireux</li>
	<li>Des modifications illisibles</li>
	<li>un site inacessible aux personnes mal-voyantes (je n’ai pas fait de vrai test mais n’utilisant pas la souris j’avais beaucoup de mal, c’est rien comparé a ce que peut avoir un·e mal-voyante ou un·e handicap·é moteur et sans doutes pleins d’autres)</li>
	<li>un site inacessible aux personnes n’ayant pas leur propre ordinateur(regardez combien ça coûte de rester plusieurs heures dans un point d’accès « publique »), leur propre connexion et habitant en ville ou proche</li>
	<li>Impossible de suivre quelque chose. Comme une proposition, une modification, un thème(informatique, droits des gender+queer, handicaps, …), une personne ou une organisation</li>
</ul>
<p>les organisations utilisé par république-numérique :</p>
<ul>
	<li>MailChimp, États-Unis, fournit la liste de diffusion</li>
	<li>Google, États-Unis, trace l’utilisateur/trice, fournit l’identification(login) et partage les micro-billets du gouvernement</li>
	<li>Gandi, France, enregistre republique-numerique.fr</li>
	<li>Cloudflare.com, États-Unis, intermédiaire(proxy) au site, enregistré chez NETWORK SOLUTIONS, LLC.(US)</li>
	<li>Facebook.com, États-Unis, fournit l’identification et partage les micro-billet du gouvernement, enregistré chez MarkMonitor, Inc.(US)</li>
	<li>Twitter.com, États-Unis, partage les micro-billet du gouvernement, enregistré chez CSC CORPORATE DOMAINS, INC.(DE)</li>
	<li>CapCollectif, France, fournit la plateforme <del>innovante</del> plagiée.</li>
	<li>NewRelic.com, États-Unis, enregistré chez Rebel.com(BB)</li>
</ul>
<p>Et il y aurait moyen d’aller encore plus loin, mais vut qu’on est sur une toile on va éviter d’explorer tout ce qui est relié. (même si ça peut être très intéressant et que tout n’es pas bien relié).</p>
<p>J’y participe quand même malgré tous ces problèmes mais sans trop espérer de changement majeur, faut séparer l’utopie de la réalitée voir dystopie(pour moi on est proche d’un totalitarisme hypocrite).</p>
<p><strong>Gros TL;DR</strong> : On fait genre on veut vous écouter mais on vous fournit une fourchette au lieu d’une fourche. (Je propose qu’on rassemble nos fourchettes ;3)</p>
