<a href="/articles/Tagged%20by%20toot6"><h1>I fucking hate RULES</h1></a>
<p>Tagged by <a href="https://toot6.deviantart.com/journal/A-mean-of-procrastination-590128650">Toot6</a></p>
<h2>Rules</h2>
<ol>
<li>Choose 13 people
<li>Tag-backs are allowed
<li>You have to post All the Rules
<li>You Can’t say you don’t do tags
<li>You have to legitimately tag 13 people
<li>Be creative with the title.No titles like: “I got tagged”
<li>Each person has to share 13 things about themselves
<li>You must make a journal entry. No comments... Unless you’re talking about the entry <small>I HATE YOU</small>
<li>Answer 13 questions asked to you and invent 13 questions the people you tag will have to answer
<li>You have to finish within a week.If you don’t finish in time, you have to do what-ever the creator tells you
</ol>
<h2>Facts about myself</h2>
<ol>
<li>I’m a librist
<li>I hate rules
<li>I’m queer
<li>I’m breton
<li>I mostly eat pasta, noodles and rice
<li>I don’t like hierarchy
<li>I didn’t forgot a whole part of this
<li>I love to use retro/deprecated but still awesome things (floppy disks and IDE mwhahaha)
<li>I hate obselecence (corrected by using Free Software anyway ;3)
<li>When I say free software I think about BSD and not GNU
<li>Beeing a Metalhead used to be my cloak as a queer, I’m now out and still a metalhead
<li>I don’t like talking so sometimes I make sounds instead
<li>I’m done with that
</ol>
<h2>Q&A</h2>
<ol>
<li>Favourite band/musician ?
<p>Vladimir Bozar</p>
<li>Play video games much ? If yes, what's your favourite game/franchise ?
<p>Not that much… but I love .hack project</p>
<li>Would you kiss a dragon ?
<p>uh… yeah</p>
<li>Do you have any pets ? <small>Can I pet them</small>
<p>Nope</p>
<li>If you could have a superpower, which would it be ?
<p>Time travel</p>
<li>If you could go into another word or universe, which would you wanna go to ?
<p>still My Little Pony (without transphobia) I guess or maybe No Game/Hack/Source, No Life</p>
<li>Do you play Monster Hunter ? Do you play Smash ? Wanna have a go ?
<p>Nope. Maybe for fun</p>
<li>What's the best advice you can give regarding art ?
<p>Use all the tools you have in every way you can think of</p>
<li>What's your favourite movie monster/creature ? Why ?
<p>Currently sadako, because she are an esper/magician and lived 30 years into a well, but is still alive in emotional form into electronics and people</p>
<li>Doth thou even hoist ?
<p>Yes, I have musl installed on my server ;P</p>
<li>Are you a dirty yiffer ?
<p>Dirty -> yes, yiffer -> not tested yet</p>
<li>What are your favourite songs for relaxing ?
<p>Dark ambient</p>
<li>Aliens ? Discuss
<p>They can transform you into a magical girl and grant one wish but it cost your life… meh. I prefer the genius of Aladin. :P</p>
</ol>
<h2>Question for tagged peers</h2>
<ol>
<li>What is your name?
<li>Where do you live?
<li>What is your favorite color?
<li>What is a spallow?
<li>Where is SPARTA‽
<li>Do you like waffles?
<li>What are your favorite styles of fine arts(drawings, painting)
<li>What are your favorite styles of music
<li>What are your favorite styles of litterature
<li>What are your favorite styles of films
<li>What’s your favorite animal?
<li>What’s your favorite character?
<li>Do you think I’m a lazy shit?
</ol>

