<a href="/articles/USA%20asking%20social-network%20password"><h1>USA asking social-network password</h1></a>
<p>TL;DR: it’s stupid, it’s often the worse “I have nothing to hide” thing and a (dis-united) state wants to to it. A password is meant to be hidden, even/specially to governments.</p>
<ul>
<li>Do I give you the whole public/private keyring ? (at least 4096 bytes per account)
<li>I cannot, it’s my finger which does the id and the password is by using sequences of my fingers
<li>I have Two Factor Authentification
<li>I use avian carriers for receiving my tweets per packets of 200
<li>Oh, you want one word, here is the first word of the passphrases
<li>Do I give also the accounts where I’m still logged in but forget the password
<li>There is no password, the server is on my computer
</ul>
<h2>Other questions</h2>
<p>What is a social network, is it what’s allowing humans to communicate or more specific thing like Twitter or Facebook</p>
<p>How can you verify that you gave all your social accounts, or even not a fake account which is created just for that (like recycling a _ebook bot)
