			<a href="articles/%c2%ab%c2%a0Democrate%28ch%7cd%29%c2%a0%c2%bb"><h2>Democrate(ch|d)</h2></a>
			<p>Je ne sais même pas par où commencer mais bon je vais dire le bon coté, ça sera rapide, ;D</p>
			<p>L’idée est de faire une vraie démocratie ou les influent·e·s ne décident pas entre elleux.</p>
			<p>C’est une bonne idée malheureusement :</p>
			<p>Vous n’êtes pas du tout apolitique(« affiliés à aucun parti ») car vous dites clairement que vous ne voterez pas pour les influent·e·s, c’est déjà de la politique. Ensuite, comme je l’ai dit sur <a href="https://loadaverage.org/notice/7041001">GnuSocial</a>(que je peut dire sans problème car ce n’est pas lucratif, commercial, …) vous utilisez des outils <strong>capitalistes</strong>(twitter, facebook, linkedin, google, OVH, GoDaddy, Online SAS, github), non-Libre et égalitaire(un moyen de le faire aurait été d’utiliser quelque chose comme wikipédia) et vous dites être « candidats à rien ». <strong>Pardon !?</strong> Dans ce cas vous ne voulez pas de gouvernement, donc sans doute l’anarchie, je ne suis pas contre mais c’est fortement politique car contre le totalitarisme naissant. Ah et mauvaise <a href="https://fr.wikipedia.org/wiki/Couleur_politique">couleur politique</a>, le bleu c’est de droite ou conservateur, le blanc c’est pacifiste ou monarchiste.<br\>
	Vous n’êtes pas apolitique, vous êtes ambiguë.</p>
			<p>Je n’aime pas(plus ?) dire ça mais je ne vais pas y aller par 4 chemins : <a href="http://democratech.co/">votre site</a> est dégueulasse. Beau certes, mais dégueulasse.<br/>
	Vous ne respectez pas la vie privée(traçage), le code et vos commits(« atome de code ») sont obèses, c’est plein de Javascript(au moins on peut observer sans), vous utilisez un PDF pour faire de l’HTML brut.</p>
			<p>Ensuite, utiliser un maximum de mots français serait pas mal, j’en ait assez de notre novlangue. Et si le mot ou l’expression n’existe pas en français ou n’est pas traduisible correctement, ne traduisez pas !</p>
